canvas{
    border:5px solid #28c022;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
  border: none;
  background-color: gray;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 12px;
}

.slider{
  width: 400px;
}