canvas{
    border:5px solid #09ff00;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 1%;
    row-gap: 10px;
}

.btn {
  border: none;
  background-color: gray;
  padding: 14px 28px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 12px;
}

.slider{
  width: 400px;
  color: aqua;
}
.btn.text{
  color: aliceblue;
}
.Speed{
}